.snippet {
  display: grid;
  grid-template-rows: 1fr auto;
  row-gap: 10px;
  padding: 5px 5px 0 5px;
  border-bottom: 1px solid gray;

  &:hover {
    background-color: lighten($color: gray, $amount: 45);
  }

  .snippet-title {
    display: grid;
    grid-template-columns: 1fr auto;

    span {
      font-size: 18px;
    }

    img{
      height: 20px;
      width: 20px;
    }
  }

  .snippet-lang {
    text-align: end;
    font-size: 12px;
  }
}
