.snippet-form {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;

  .meta-info {
    display: grid;
    align-items: center;
    padding: 5px;
    row-gap: 5px;
    column-gap: 5px;
    grid-template-areas:
      "name name"
      "folder language"
      "tags tags";

    .name {
      grid-area: name;
      display: grid;
      grid-template-columns: 1fr auto auto;
      column-gap: 5px;
    }
    .folder {
      grid-area: folder;
    }
    .language {
      grid-area: language;
    }
    .tags {
      grid-area: tags;
    }
  }

  .snippet-editor {
    grid-row: 2;
  }
}
