.outline-multiselect {
  border: 1px solid black;
  padding: 5px;

  .selected-item {
    display: flex;
    flex-wrap: wrap;

    select {
      padding: 5px;
      margin: 2px;
    }
  }
}

.multiselect-item__selected {
  border: 1px solid black;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  margin: 2px;

  span:first-child {
    padding: 5px;
  }

  .icon {
    height: 100%;
    &:hover {
      background-color: black;
      color: white;
    }
  }
}
