$color-fg: white;
$color-bg: #222;
$spinner-width: 10px;
$fg-animation: 1.2s;
$bg-animation: .6s;

.loader-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);

  .modal-container {
    background-color: red;
    padding: 20px;
    z-index: 100;
    border: 3px solid black;
  }
}


.dbl-spinner {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: transparent;
  border: $spinner-width solid transparent;
  border-top: $spinner-width solid $color-bg;
  border-left: $spinner-width solid $color-bg;
  -webkit-animation: $fg-animation spin linear infinite;
  animation: $fg-animation spin linear infinite;
}
                                    
.dbl-spinner:nth-child(2) {
  border: $spinner-width solid transparent;
  border-right: $spinner-width solid $color-fg;
  border-bottom: $spinner-width solid $color-fg;
  -webkit-animation: $bg-animation spin linear infinite;
  animation: $bg-animation spin linear infinite;
}

@-webkit-keyframes spin {
  from {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  to {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}
        
@keyframes spin {
  from {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  to {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}